@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://www.linkedin.com/in/davidbernal24/" target="_blank" class="text-dark text-decoration-none d-flex align-items-center">
                <span class="me-2 fw-bold d-none d-md-block">Connect on LinkedIn</span>
                <i class="bi bi-linkedin fs-3 text-primary"></i>
            </a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>